.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
}

.sidebar-menu{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-menu:hover{
    background-color: rgb(233, 233, 233);
}

.sidebar-menu img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-menu div{
    font-family: roboto,Arial;
    font-size: 10px;
}